
    .row {
        width: 100%;
        box-sizing: border-box;
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        position: relative; 
        z-index: 0;
      }
      .excel-container .editing {
        border: none !important;
        outline: none;
      }
      
      .excel-container td:focus {
        outline: none;
      }
      /* .excel-container .editing {
        background-color: red !important;
        border: none;
      }
      
      .excel-container td:focus {
        background-color: green !important;
      }
       */
      
  
  
  